# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\feder\OneDrive\Documentos\4to año\Análisis y Diseño de Sistemas 2\SistemaFilas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
